@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'font';
    src: url(~/assets/fonts/b.woff) format('woff'),
      url(~/assets/fonts/b.woff2) format('woff2');
  }
  html {
    font-family: font, system-ui, sans-serif;
  }
  body {
    @apply text-body;
  }
  @screen lg {
    body {
      @apply text-body-lg;
    }
  }
  @screen xl {
    body {
      @apply text-body-xl;
    }
  }
  @screen 2xl {
    body {
      @apply text-body-2xl;
    }
  }
}
